/************* gælder for alle *************/

body {
    background-color: #eff1f3;
}

* {
    box-sizing: border-box;
}

section {
    background-color: white;
    margin: 10vw 10vw 0 10vw;
    /*
    display: flex;
    flex-wrap: wrap;
*/
}

.sectionwrapper {
    padding: 1em;
}

h1 {
    /*    padding: 1em;*/
}

p,
h1,
h2,
h3,
ul {
    font-family: 'Abel-Regular', sans-serif;
}

/*
h1 {
    color: white;
}
*/

/************* menu *************/

header {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #eff1f3;
    top: -1px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.navn {
    display: flex;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
}

.menu li {
    display: inline;
    padding: 0 0.6em;
    align-self: flex-end;

}

header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    color: white;
}

/************* mediaqurries *************/

@media screen and (max-width: 650px) and (orientation: portrait) {
    header {
        justify-content: center;

    }

    section {
        background-color: gainsboro;
        margin: 55vw 10vw 0 10vw;
    }
}

@media screen and (max-width: 650px) and (orientation: landscape) {
    header {
        justify-content: center;

    }

    section {
        background-color: gainsboro;
        margin: 50vw 10vw 0 10vw;
    }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
    section {
        background-color: gainsboro;
        margin: 15vw 10vw 0 10vw;
    }
}

/************* om *************/

#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#om img {
    width: 100%;
}

#om .column {
    flex-basis: 100px;
    flex-grow: 1;
    padding: 5px 5px 5px 5px;

}

/************* projekter *************/

#projekter .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
}

.emne {
    width: 220px;
    position: relative;
    padding: 10px;
}

#projekter img {
    width: 100%;
    display: inline;
    opacity: 1;
    transition: .5s ease;
    /*    position: absolute;*/
}

#projekter {
    text-align: center;
}

#projekter img:hover {
    opacity: 0.3;
}

/************* stilart *************/

.column_info {
    padding: 0 15px 0 15px;
}

.column_proces {
    display: flex;
    flex-wrap: wrap;
}


.proces_tekst {
    flex-basis: 400px;
    flex-grow: 2;
    padding: 0 15px 0 15px;
}

.billede {
    flex-basis: 400px;
    flex-grow: 2;
    padding: 0 15px 0 15px;
}

#stilart img {
    width: 100%
}


/************* kontakt *************/

#kontakt {
    background-color: darkgray;
    margin: 2vw 10vw 0 10vw;
    text-align: center;
    padding: 1em;
    border-radius: 1em;
}

.mail img {
    width: 15%;
}

.tlf {
    padding: 1px;
}

/************* footer *************/

footer {
    text-align: center;
}
