/************* gælder for alle *************/

body {
    /*    background-color: #eff1f3;*/
    background: url(img/flot_baggrund.jpg);
    /*    background-repeat: no-repeat;*/
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

section h1 {
    text-align: center;
    padding-top: 1em;
}

section {
    background-color: #ffffff;
    margin: 10vw 10vw 0 10vw;
    border-radius: 1em;

    /*
    display: flex;
    flex-wrap: wrap;
*/
    /*    d9 for transparant*/
}

.sectionwrapper {
    padding: 1em;
}

.navn h1 {
    color: #666666;
}

p,
h1,
h2,
h3,
ul {
    font-family: 'Abel-Regular', sans-serif;

}

/************* menu *************/

header {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #d1e3f59e;
    /*        #eff1f3;*/
    top: -1px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.navn {
    display: flex;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
}

.menu li {
    display: inline;
    padding: 0 0.6em;
    align-self: flex-end;

}

header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    color: white;
}

header h1:hover {
    color: white;
}

.menu a {
    color: #666666;
}

/************* mediaqurries *************/

@media screen and (max-width: 650px) and (orientation: portrait) {
    header {
        justify-content: center;

    }

    section {
        margin: 55vw 10vw 0 10vw;
    }
}

@media screen and (max-width: 650px) and (orientation: landscape) {
    header {
        justify-content: center;

    }

    section {
        margin: 50vw 10vw 0 10vw;
    }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
    section {
        margin: 15vw 10vw 0 10vw;
    }
}

/************* forside *************/

/************* om *************/

#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#om img {
    width: 100%;
}

#om .column {
    flex-basis: 100px;
    flex-grow: 1;
    padding: 5px 5px 5px 5px;

}

/************* projekter *************/

#projekter h1 {
    text-align: center;
    padding-top: 1em;
}

#projekter .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    align-items: center;
}

.emne {
    width: 220px;
    position: relative;
    /*    padding: 10px;*/
    display: block;
    margin: auto;
}

#projekter .emne img {
    width: 100%;
    display: inline;
    opacity: 1;
    transition: .5s ease;
    /*    position: absolute;*/
}

#projekter {
    text-align: center;
}

#projekter img:hover {
    opacity: 0.3;
}

.emne_tlf {
    width: 220px;
    position: relative;
    /*    padding: 10px;*/
    display: block;
    margin: auto;
}

.emne_tlf img {
    width: 50%;
    display: inline;
    opacity: 1;
    transition: .5s ease;
}

.tekst {
    font-size: 13.8px;
}

/************* stilart *************/

.column_info {
    padding: 0 15px 0 15px;
}

.column_proces {
    display: flex;
    flex-wrap: wrap;
}


.proces_tekst {
    flex-basis: 400px;
    flex-grow: 2;
    padding: 0 15px 0 15px;
}

.billede {
    flex-basis: 400px;
    flex-grow: 2;
    padding: 0 15px 0 15px;
}

#stilart img {
    width: 100%
}


/************* kontakt *************/

#kontakt {
    background-color: darkgray;
    margin: 2vw 10vw 0 10vw;
    text-align: center;
    padding: 1em;
    border-radius: 1em;
}

.mail img {
    width: 15%;
    opacity: 0.7;
}

.tlf {
    padding: 1px;
}

#kontakt h3,
p {
    color: #666666;
}

.mail img:hover {
    opacity: 1;
}

/************* footer *************/

footer {
    text-align: center;

}

footer p {
    color: white;
}
